<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>버스 위치</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        #map {
            height: 500px;
            width: 100%;
            margin-top: 20px;
        }
    </style>
    <!-- 카카오맵 API 포함 -->
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ api_key }}"></script>
</head>
<body>
    <h1>버스 위치</h1>

    <!-- 지도를 표시할 div 입니다 -->
    <div id="map" style="width:100%;height:350px;"></div>

    <script>
        // var busLocations = [
        //     {% for location in bus_locations %}
        //     { ngisYPos: {{ location['ngisYPos'] }}, ngisXPos: {{ location['ngisXPos'] }} , name: "{{ location['stationName'] }}" },
        //     {% endfor %}
        // ];

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(35.8702, 128.5912),  // 대구 좌표
            level: 3 // 지도의 확대 레벨
        };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption); 



            // // 버스 위치 마커 추가
            // busLocations.forEach(function(location) {
            //     var latlng = new kakao.maps.LatLng(location.ngisYPos, location.ngisXPos);

            //     // TM 좌표계 -> WGS84 좌표계로 변환
            //     kakao.maps.services.TransCoord.convertCoords(latlng, kakao.maps.services.Coords.TM, kakao.maps.services.Coords.WGS84, function(result) {
            //         var convertedLatLng = new kakao.maps.LatLng(result[0].y, result[0].x);

            //         // 마커 객체 생성
            //         var marker = new kakao.maps.Marker({
            //             position: convertedLatLng,
            //             map: map
            //         });

            //         // 마커 클릭 시 정류장 이름을 보여주는 인포윈도우
            //         var infowindow = new kakao.maps.InfoWindow({
            //             content: location.name
            //         });

            //         // 마커 클릭 이벤트
            //         kakao.maps.event.addListener(marker, 'click', function() {
            //             infowindow.open(map, marker);
            //         });
            //     });
            // });
        // });
    </script>
</body>
</html>